[submodule "vimrc/bundle/lightline.vim"]
	path = vimrc/pack/plugin/start/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "vimrc/bundle/indentLine"]
	path = vimrc/pack/plugin/start/indentLine
	url = https://github.com/Yggdroot/indentLine.git
[submodule "vimrc/bundle/vim-surround"]
	path = vimrc/pack/plugin/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vimrc/bundle/vim-repeat"]
	path = vimrc/pack/plugin/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule "vimrc/bundle/tabular"]
	path = vimrc/pack/plugin/start/tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "vimrc/pack/plugin/start/vim-lsc"]
	path = vimrc/pack/plugin/start/vim-lsc
	url = https://github.com/natebosch/vim-lsc
